.container {
    width: 100%;
    height: auto; /* Set height to auto for responsiveness */
}

.wrapper {
    background-color: #052761;
    margin: 20px;
    padding: 100px;
    gap: 10px;
    border-radius: 24px;
    opacity: 0px;
}

/* Adjust padding for smaller screens */
@media (max-width: 1024px) {
    .wrapper {
        padding: 50px;
    }
}

@media (max-width: 768px) {
    .wrapper {
        padding: 30px;
        margin: 5px;
    }
}

/* Adjust font sizes for smaller screens */
.wrapper p:nth-child(1) {
    color: white;
    font-size: 3rem; /* Use relative units for font sizes */
    font-weight: 600;
    text-align: left;
}

.wrapper p:nth-child(2) {
    color: white;
    font-size: 1.5rem; /* Use relative units for font sizes */
    font-weight: 600;
    text-align: left;
}

/* Adjust font sizes for smaller screens */
@media only screen and (max-width: 768px) {
    .wrapper p:nth-child(2).wrapper p:nth-child(1) {
        font-size: 2rem; /* Adjust font size for smaller screens */
        line-height: 2.5rem; /* Adjust line height accordingly */
    }
}

@media only screen and (max-width: 480px) {
    .wrapper p:nth-child(2){
        font-size: 0.7rem; /* Adjust font size for smaller screens */
        line-height: 1.5rem; /* Adjust line height accordingly */
    }

    .wrapper p:nth-child(1){
        font-size: 1rem; /* Adjust font size for smaller screens */
        line-height: 1.5rem;
    }
}


.resourceCardContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.heroSection{
    width: 100%;
}

.resourceHeroImg{
    max-width: 2600px;
    width: 100%;
    height: auto;
    background-color: red;
}

.paraContainer{
    width: 100%;
}

.date{
    padding-top: 50px;
    padding-left: 60px;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    color: #052761;
    text-align: left;
}

.paraWrapper{
    padding: 60px;
}

.paraWrapper p{
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: justified;
    color: #2E2E38;
}

.resourceinsightsWrapper{
    display: flex;
    flex-direction: column;
    background-color:#;    
    padding: 64px 100px 64px 100px;
    gap: 64px;
    border-radius: 24px;
    opacity: 0px;
    margin: 20px;
}